{% for field in teacherExperienceForm %}

  {% if field.name == 'end_date' %}

  {% elif field.name == 'start_date' %}

    {% include 'admintemplate/includes/panel-form-field.html' with field=field %}

    <div class="connto-check connto-check--terms edu-ongoing-check">

      {{ teacherExperienceForm.is_ongoing }}

      <label for="{{ teacherExperienceForm.is_ongoing.id_for_label }}" class="connto-check-label">Devam ediyor</label>

    </div>

    <div class="edu-ongoing-end-date-wrap">

      {% include 'admintemplate/includes/panel-form-field.html' with field=teacherExperienceForm.end_date %}

    </div>

  {% else %}

    {% include 'admintemplate/includes/panel-form-field.html' with field=field %}

  {% endif %}

{% endfor %}

