{% extends 'conntoapp/userbase/userbase.html' %}
{% load static %}

{% block title %}
  {{ user.fullname }}
{% endblock %}

{% block content %}
  <section class="breadcrumb-area">
    <div class="container">
      <div class="breadcrumb-content" data-aos="fade-up">
        <p>HOME - BLOG DETAILS</p>
        <h1 class="section-heading"><img src="{% static 'userstatic/assets/images/star-2.png' %}" alt="Star" /> {{ blog.blog_title }} <img src="{% static 'userstatic/assets/images/star-2.png' %}" alt="Star" /></h1>
      </div>
    </div>
  </section>

  <!-- Blog Details -->
  <section class="blog-details-area">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog-details-content">
            <div class="img-box">
              <img style="border-radius: 10px;" src="{{ blog.blog_image.url }}" alt="Blog" />
            </div>
            <span class="meta">{{ blog.blog_date }} - {{ blog.blog_category }} - View ({{ blog.blog_view }})</span>
            <h1>{{ blog.blog_title }}</h1>
            <p>{{ blog.blog_content }}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-sidebar">
            <div class="blog-sidebar-inner">
              <div class="blog-sidebar-widget recent-post-widget" data-aos="zoom-in">
                <div class="blog-sidebar-widget-inner shadow-box">
                  <h3>Recent Posts</h3>

                  <ul>
                    {% for blog in mostViewBlogs %}
                      <li>
                        <a href="{% url 'blogDetail' user.id blog.id %}">{{ blog.blog_title|slice:':20' }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>

              <div class="blog-sidebar-widget categories-widget" data-aos="zoom-in">
                <div class="blog-sidebar-widget-inner shadow-box">
                  <h3>Categories</h3>

                  <ul>
                    {% for blog in user.userblogs.all %}
                      <li>
                        <p>-{{ blog.blog_category }}</p>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container d-flex align-items-center justify-content-center" data-aos="zoom-in">
      <a style="padding: 50px; font-size: 25px; font-weight: bold; color: aliceblue;" href="{% url 'blog' user.id %}" class="big-btn shadow-box">Blogs</a>
    </div>
  </section>
{% endblock %}
