{% extends 'conntoapp/userbase/userbase.html' %}
{% load static %}

{% block title %}
  {{user.fullname}}
{% endblock %}

{% block content %}
  <section class="about-area">
    <div class="container">
      <div class="row">
        <div class="col-md-6" data-aos="zoom-in">
          <div class="about-me-box shadow-box">
            <a class="overlay-link" href="{% url 'about' user.id %}"></a>
            <img src="{% static 'userstatic/assets/images/bg1.png' %}" alt="BG" class="bg-img" />
            <div class="img-box">
              <img src="{{ user.image.url }}" alt="About Me" />
            </div>
            <div class="infos">
              <h4>{{ user.get_branch_display }}</h4>
              <h1>{{ user.fullname }}</h1>
              <p>{{ user.get_branch_display }} · {{ user.get_experience_years_display }} · {{ user.get_city_display }}</p>
              <a href="{% url "about" user.id %}" class="about-btn"><img src="{% static 'userstatic/assets/images/icon.svg' %}" alt="Button" /></a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="about-credentials-wrap">
            <div data-aos="zoom-in">
              <div class="banner shadow-box">
                <div class="">
                  <div>
                    <span></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="gx-row d-flex gap-24">
              <div data-aos="zoom-in">
                <div class="about-crenditials-box info-box shadow-box h-full">
                  <a class="overlay-link" href="{% url 'credentials' user.id %}"></a>
                  <img src="{% static 'userstatic/assets/images/bg1.png' %}" alt="BG" class="bg-img" />
                  <img src="{% static 'userstatic/assets/images/sign.png' %}" alt="Sign" />
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="infos">
                      <h1>Hakkımda</h1>
                    </div>

                    <a href="{% url 'credentials' user.id %}" class="about-btn"><img src="{% static 'userstatic/assets/images/icon.svg' %}" alt="Button" /></a>
                  </div>
                </div>
              </div>

              <div data-aos="zoom-in">
                <div class="about-project-box info-box shadow-box h-full">
                  <a class="overlay-link" href="{% url 'work' user.id %}"></a>
                  <img src="{% static 'userstatic/assets/images/bg1.png' %}" alt="BG" class="bg-img" />
                  <img src="{% static 'userstatic/assets/images/my-works.png' %}" alt="My Works" />
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="infos">
                      <h4>Ders Materyalleri</h4>
                      <h1>Çalışmalarım</h1>
                    </div>

                    <a href="{% url 'work' user.id %}" class="about-btn"><img src="{% static 'userstatic/assets/images/icon.svg' %}" alt="Button" /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-24">
        <div class="col-md-12">
          <div class="blog-service-profile-wrap d-flex gap-24">
            <div data-aos="zoom-in">
              <div class="about-blog-box info-box shadow-box h-full">
                <a href="{% url "blog" user.id %}" class="overlay-link"></a>
                <img src="{% static 'userstatic/assets/images/bg1.png' %}" alt="BG" class="bg-img" />
                <img src="{% static 'userstatic/assets/images/gfonts.png' %}" alt="GFonts" />
                <div class="d-flex align-items-center justify-content-between">
                  <div class="infos">
                    <h1>Eğitim Blogu</h1>
                  </div>

                  <a href="{% url "blog" user.id %}" class="about-btn"><img src="{% static 'userstatic/assets/images/icon.svg' %}" alt="Button" /></a>
                </div>
              </div>
            </div>

            <div data-aos="zoom-in" class="flex-1">
              <div class="about-services-box info-box shadow-box h-full">
                <a href="{% url "services" user.id %}" class="overlay-link"></a>
                <img src="{% static 'userstatic/assets/images/bg1.png' %}" alt="BG" class="bg-img" />
                <div class="icon-boxes">
                  <i class="iconoir-book"></i>
                  <i class="iconoir-gym"></i>
                  <i class="iconoir-vials"></i>
                  <i class="iconoir-code"></i>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="infos">
                    <h4>Branşlarım</h4>
                    <h1>Verdiğim Dersler</h1>
                  </div>

                  <a href="{% url "services" user.id %}" class="about-btn"><img src="{% static 'userstatic/assets/images/icon.svg' %}" alt="Button" /></a>
                </div>
              </div>
            </div>

            <div data-aos="zoom-in">
              <div class="about-profile-box info-box shadow-box h-full">
                <img src="{% static 'userstatic/assets/images/bg1.png' %}" alt="BG" class="bg-img" />
                <div class="inner-profile-icons shadow-box">
                  <a><i class="iconoir-twitter"></i></a>
                  <a><i class="iconoir-linkedin"></i></a>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="infos">
                    <h4>Sosyal Medya</h4>
                    <h1>Profillerim</h1>
                  </div>

                  <a href="{% url 'contact' user.id %}" class="about-btn"><img src="{% static 'userstatic/assets/images/icon.svg' %}" alt="Button" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-24">
        <div class="col-md-6" data-aos="zoom-in">
          <div class="about-client-box info-box shadow-box">
            <img src="{% static 'userstatic/assets/images/bg1.png' %}" alt="BG" class="bg-img" />
            <div class="clients d-flex align-items-start gap-24 justify-content-center">
              <div class="client-item">
                <h1>{{user.userskills.count}}</h1>
                <p>Yetkinlik</p>
              </div>

              <div class="client-item">
                <h1>{{user.userworks.count}}</h1>
                <p>Materyal</p>
              </div>

              <div class="client-item">
                <h1>{{user.userservices.count}}</h1>
                <p>Ders</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" data-aos="zoom-in">
          <div class="about-contact-box info-box shadow-box">
            <a class="overlay-link" href="{% url 'contact' user.id %}"></a>
            <img src="{% static 'userstatic/assets/images/bg1.png' %}" alt="BG" class="bg-img" />
            <img src="{% static 'userstatic/assets/images/icon2.png' %}" alt="Icon" class="star-icon" />
            <h1>Birlikte<br /><span>çalışalım.</span></h1>
            <a href="{% url 'contact' user.id %}" class="about-btn"><img src="{% static 'userstatic/assets/images/icon.svg' %}" alt="Button" /></a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
