{% extends 'conntoapp/userbase/userbase.html' %}
{% load static %}

{% block title %}
  {{ user.fullname }} | {{ work.book_name }}
{% endblock %}

{% block content %}
  <section class="breadcrumb-area">
    <div class="container">
      <div class="breadcrumb-content" data-aos="fade-up">
        <h1 class="section-heading">
          <img src="{% static 'userstatic/assets/images/star-2.png' %}" alt="Yıldız" />
          {{ work.book_name }}
          <img src="{% static 'userstatic/assets/images/star-2.png' %}" alt="Yıldız" />
        </h1>
      </div>
    </div>
  </section>

  <section class="project-details-wrap">
    <div class="container">
      <div data-aos="zoom-in">
        <div class="project-about-2 d-flex shadow-box mb-24">
          <img src="{% static 'userstatic/assets/images/bg1.png' %}" alt="Arka plan" class="bg-img" />
          <div class="left-details flex-1">
            <ul>
              <li>
                <p>Yayınevi Adı</p>
                <h4>{{ work.publisher_name }}</h4>
              </li>
              <li>
                <p>Kitap Adı</p>
                <h4>{{ work.book_name }}</h4>
              </li>
              <li>
                <p>Yayın Yılı</p>
                <h4>{{ work.publication_year }}</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-flex align-items-center justify-content-center" data-aos="zoom-in">
      <a href="{% url 'work' user.id %}" class="big-btn shadow-box">Materyaller</a>
    </div>
  </section>
{% endblock %}
