{% extends 'conntoapp/userbase/userbase.html' %}
{% load static %}

{% block title %}
  {{ user.fullname }}
{% endblock %}

{% block content %}
  <section class="projects-area">
    <div class="container">
      <h1 class="section-heading" data-aos="fade-up">
        <img src="{% static 'userstatic/assets/images/star-2.png' %}" alt="Yıldız" />
        Ders Materyalleri
        <img src="{% static 'userstatic/assets/images/star-2.png' %}" alt="Yıldız" />
      </h1>
      <div class="row">
        {% for work in user.userworks.all %}
          <div class="col-md-4 col-sm-6 mb-4" data-aos="zoom-in">
            <div class="project-item shadow-box">
              <a class="overlay-link" href="{% url 'workDetail' user.id work.id %}"></a>
              <img src="{% static 'userstatic/assets/images/bg1.png' %}" alt="Arka plan" class="bg-img" />
              <div class="d-flex align-items-center justify-content-between p-4">
                <div class="project-info">
                  <p>{{ work.publisher_name }}</p>
                  <h1>{{ work.book_name }}</h1>
                  <p>{{ work.publication_year }}</p>
                </div>
                <a href="{% url 'workDetail' user.id work.id %}" class="project-btn"><img src="{% static 'userstatic/assets/images/icon.svg' %}" alt="Detaya git" /></a>
              </div>
            </div>
          </div>
        {% empty %}
          <div class="col-12">
            <p>Henüz materyal eklenmemiş.</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
