{% extends 'conntoapp/adminbase/adminpanelbase.html' %}
{% load static %}

{% block title %}
  Profil Yönetimi
{% endblock %}

{% block content %}
  <div class="sb2-2">
    <div class="sb2-2-2">
      <ul>
        <li>
          <a ><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="active-bre">
          <a >Blog Yazilarims</a>
        </li>
      </ul>
    </div>
    <div class="sb2-2-3">
      <div class="row">
        <div class="col-md-12">
          <div class="box-inn-sp">
            <div class="inn-title">
              <h4>Blog Yazilarim</h4>
              <a class="dropdown-button drop-down-meta" href="#" data-activates="dr-users"><i class="material-icons">more_vert</i></a>
              <ul id="dr-users" class="dropdown-content">
                <li>
                  <a href="{% url 'addItems' %}">Yeni Ekle</a>
                </li>
              </ul>

              <!-- Dropdown Structure -->
            </div>
            <div class="tab-inn">
              <div class="table-responsive table-desi">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Blog Image</th>
                      <th>Blog Title</th>
                      <th>Blog Date</th>
                      <th>Blog Category</th>
                      <th>Blog Content</th>
                      <th>Blog View</th>
                      <th>Düzenle</th>
                      <th>Sil</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for blog in user.userblogs.all %}
                      <tr>
                        <td>
                          <span class="list-img"><img src="{{ blog.blog_image.url }}" alt="" /></span>
                        </td>
                        <td>
                          <span class="list-enq-name">{{ blog.blog_title }}</span>
                        </td>
                        <td>{{ blog.blog_date|date:'d:m:Y' }}</td>
                        <td>{{ blog.blog_category }}</td>
                        <td>{{ blog.blog_content|slice:':50' }}...</td>
                        <td>{{ blog.blog_view }}</td>
                        <td>
                          <a href="{% url 'updateBlog' blog.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        </td>
                        <td>
                          <a href="#" onclick="confirmDelete('{% url 'deleteBlog' blog.id %}'); return false;"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
