{% extends 'conntoapp/adminbase/adminpanelbase.html' %}
{% load static %}

{% block title %}Profil Yönetimi{% endblock %}

{% block content %}
  <div class="sb2-2">
    <div class="sb2-2-2">
      <ul>
        <li><a><i class="fa fa-home" aria-hidden="true"></i> Ana Sayfa</a></li>
        <li class="active-bre"><a>Sertifikalarım</a></li>
      </ul>
    </div>
    <div class="sb2-2-3">
      <div class="row">
        <div class="col-md-12">
          <div class="box-inn-sp">
            <div class="inn-title">
              <h4>Sertifikalarım</h4>
              <a class="dropdown-button drop-down-meta" href="#" data-activates="dr-users"><i class="material-icons">more_vert</i></a>
              <ul id="dr-users" class="dropdown-content">
                <li><a href="{% url 'addItems' %}">Yeni Ekle</a></li>
              </ul>
            </div>
            <div class="tab-inn">
              <div class="table-responsive table-desi">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Öğretmen</th>
                      <th>Sertifika Adı</th>
                      <th>Tarih</th>
                      <th>Düzenle</th>
                      <th>Sil</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for award in user.userawards.all %}
                      <tr>
                        <td><span class="list-img"><img src="{{ user.image.url }}" alt="" /></span></td>
                        <td><span class="list-enq-name">{{ award.award_name }}</span></td>
                        <td>{{ award.award_date|date:'d.m.Y' }}</td>
                        <td><a href="{% url 'updateAward' award.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                        <td><a href="#" onclick="confirmDelete('{% url 'deleteAward' award.id %}'); return false;"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                      </tr>
                    {% empty %}
                      <tr><td colspan="5">Henüz sertifika eklenmemiş.</td></tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
